body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#hud{
    position: absolute;
    top: 0;
}

#hud img{
    display: block;
    object-fit: contain;
    object-position: top;
}

canvas {
    background-color: black;
    display: block;
}

/* Smartphones ----------- */
@media only screen and (max-width: 720px) {
    canvas, #hud img {
        width: 100%;
    }
}

/* Smartphones ----------- */
@media only screen and (max-height: 480px) {
    canvas, #hud img {
        height: 100vh;
    }
}

/* #title{
 position: absolute;
 top: 0;
} */
